html {
  font-size: 75%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-stretch: normal;
  color: #334152;
  letter-spacing: 0.4px;
  overflow-y: scroll;
  position: relative;
}

.table {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.table tbody tr:first-child td {
  border-top: 1px solid #d8dde3;
}

.table tbody tr:nth-child(odd) {
  background-color: #f7f8fa;
}

span:hover {
  color: darkgray;
  cursor: pointer;
}

.select {
  max-width: 50px;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}

.list {
  display: flex;
  justify-content: flex-end;
}

.list-item {
  font-size: 13px;
  list-style: none;
  padding: 5px;
  cursor: pointer;
}

.list-item:hover {
  color: deepskyblue;
}

.active {
  font-size: 14px;
  color: deepskyblue;
}


